<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <title>Hacktiv8Cops</title>
    <style>
      tr{
        padding: 10px;
      }
      td{
        text-align: center;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div id="map"  style="height: 50%"></div>

    <div id="rows" data-rows=<%= encodeURI(JSON.stringify(rows)) %> </div>
    
    <div id="list-crime">
      <table>
        <tr>
          <th>
            Option
          </th>
          <th>
            Category
          </th>
          <th>
            Victim
          </th>
          <th>Status</th>
          <th>Description</th>
          <th>Time</th>
        </tr>
        <% rows.forEach((x,index) => { %>
          <tr>
            <td>
              <a href="/edit/<%= x.id %>">Edit</a>
            </td>
            <td>
              <%= x.dataValues.Category.name %>
            </td>
            <td>
              <%= x.victim %>
            </td>
            <td>
              <%= x.status %>
            </td>
            <td>
              <%= x.description %>
            </td>
            <td>
              <%= x.createdAt %>
            </td>
          </tr>
          <br/>
        <% }) %>
      </table>
        <% encodeURI(JSON.stringify(rows)) %>
     
    </div>


    <div id="links">
        <a href="/crime/police-register">register</a>
        <a href="/add">add crime</a>
    </div>


    <script>
        
        
        
        const data = document.getElementById('rows').dataset.rows
        const coords = JSON.parse(decodeURI(data))
        console.log(coords)
        
        var map;
        function initMap() {
            // const data =  JSON.parse(rows.dataset.rows)
            
              var myLatLng = { lat: -6.259788, lng: 106.781646 };
              var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: myLatLng
              });

              let marker;

              coords.forEach(element => {
                marker = new google.maps.Marker({
                position : new google.maps.LatLng( element.latitude ,  element.longitude),
                map : map}) 
              });
            }
    </script>

<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLTqWECu-KGCj3sjk3qPuAaPM9P0hyhOg&callback=initMap"
async
defer
></script>

   

  </body>
</html>
